.content{
    background-color: black;

}
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width:50%;
    height:auto;
    margin-left:100px;
    margin-top:50px;
  
  }
  
  .profile-content-wrapper {
    padding: 80px;
    color:white;
    font-weight:lighter;
    margin-right: 100px;
    line-height: 2.5;
  
  }
  
  .profile-content-wrapper h1 {
    color: lightseagreen;
    margin-right: 100px;
    
  }

  .btn-content-wrapper{
    border-style:solid;
    border-color: white;
    color: white;
    background-color:rgb(17, 202, 193);
    padding: 15px;
   margin:10px;
    font-size: large;
}
